.statistics {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 150px;
  border: 1px solid rgba(66, 66, 66, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statistics:hover,
.statistics:focus {
  border: 2px solid rgba(117, 58, 228, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(60, 18, 245, 0.2);
}

.title {
  text-transform: uppercase;
}

.statList {
  background-color: rgb(179, 111, 9);
  padding: 0;
  display: flex;
  justify-content: center;
}
.item {
  width: 150px;
  height: 70px;
  border: 1px solid rgba(207, 207, 207, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.label {
  font-weight: 600;
  font-size: 18px;
  color: white;
}
.percentage {
  margin-top: 7px;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
