.statistics {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(66, 66, 66, 0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(66, 66, 66, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}
.statistics:hover,
.statistics:focus {
  border: 2px solid rgba(117, 58, 228, 0.2);
  box-shadow: 5px 5px 5px 1px rgba(60, 18, 245, 0.2);
}

.title {
  text-transform: uppercase;
}

.statList {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: 62px;
  height: 70px;
  border: 1px solid rgba(207, 207, 207, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
}
.item:hover,
.item:focus {
  border-radius: 5px;
  border: 1px solid rgba(207, 207, 207, 0.2);
  scale: 1.1;
  box-shadow: 1px 1px 1px 1px rgba(207, 207, 207, 0.2);
}
.label {
  font-weight: 600;
  font-size: 18px;
  color: white;
}
.percentage {
  margin-top: 7px;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
