.transactionHistory {
  /* margin: 0 auto; */
}
table,
th,
td {
  border-collapse: collapse;
  border: 0.5px solid rgb(231, 231, 231);
}
.thead {
  background-color: #00bcd5;
  height: 50px;
  width: 200px;
  border: 1px solid grey;
  text-transform: uppercase;
  color: aliceblue;
}
th {
  width: 300px;
}

.tablRow2 {
  background-color: #ecf1f4;
  height: 40px;
}
.tablRow {
  height: 40px;
  background-color: rgb(255, 255, 255);
}
.typeCol {
  text-transform: capitalize;
  padding-left: 20px;
}

.amountCol,
.currencyCol {
  text-align: center;
}
.tablRow:hover,
.tablRow:focus,
.tablRow2:hover,
.tablRow2:focus {
  background-color: rgb(166, 216, 164);
}
